footer{
  width: 100%;
  border-top: 7px solid #999;
  background-color: #333;
  color: #eee;

  >.container{
    padding: 24px 0 56px;

    >ul{
      display: inline-block;
      font-size: $font-size-large;

      >li{
        display: inline;
        float: left;

        &:not(:first-child){
          margin-left: 30px;
        }
      }
    }

    >div{
      display: block;

      p{
        float: left;
        margin: 18px 0 0;
      }
    }

    a{
      color: #eee;

      &:hover{
        color: #fff;
      }
    }
  }
}
