footer{
  width: 100%;
  border-top: 1px solid #ccc;
  //background-color: #333;
  //color: #eee;

  padding: 15px 0 43px;

  >ul{
    display: inline-block;
    font-size: $font-size-large;

    >li{
      display: inline;
      float: left;

      &:not(:first-child){
        margin-left: 30px;
      }
    }
  }

  >div{
    display: block;

    p{
      float: left;
      margin: 11px 0 0;
    }
  }

  a{
    color: $base-color;

    &:hover{
      color: $url-hover-color;
    }
  }
}
