$padding-horizontal : 19px;

header{
  >.container{
    padding: 0 $padding-horizontal;
  }

  h1{
    margin: 20px 0 10px;
    display: inline-block;
  }
}

nav{
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 32px;
  line-height: 32px;

  >.container{
    padding: 0 $padding-horizontal;

    >ul{
      background-color: #a6e22e;
      display: inline-block;

      >li{
        display: inline;

        &:not(:first-child){
          margin-left: 100px;
        }

        >a{
          color: #fff;
        }
      }

      &.nav-right{
        float: right;

        >li{
          float: right;
        }
      }
    }
  }
}
