@charset "UTF-8";

@import "avalon/base";

//@import "avalon/header";
@import "avalon/footer";
@import "avalon/scrollbar";


*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}
html{
  overflow-y: scroll;
}

#container{
  font-family: "-apple-system","Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  color: $base-color;
  background-color: #eee;

  .left_col{
    width: 270px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00a8c6;

    a{
      color: $base-color;
      text-decoration: none;

      &:hover{
        color: $url-hover-color;
      }
    }

    >header{
      margin: 43px 0 0 53px;

      #profile{
        margin-left: -10px;
        background-color: #2e383c;
        width: 150px;
        height: 150px;

      }

      >h1{
        padding: 15px 0 0;
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
      }

      >span{
        font-size: 14px;
        line-height: 30px;
      }
    }

    >nav{
      margin: 43px 0 0 53px;

      ul{
        font-size: 18px;
        line-height: 33px;
        list-style-type: none;

        li{

        }
      }
    }
  }

  .right_col{
    margin: 0 0 0 270px;
    padding: 0 40px;
    background-color: #fff;
  }
}

a{
  color: #076dd0;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

// headings
@each $heading, $map in $headings-font-size-map{
  #{$heading} {
    font-size: map_get($map, font-size);
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
  }
}

small{
  font-size: $font-size-small;
}

big{
  font-size: $font-size-large;
}


.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
