@charset "UTF-8";

@import "avalon/base";

.container{
  padding: 30px 0;

  >h1{
    padding-bottom: 7px;

    a {
      font-size: 28px;
      line-height: 35px;
      color: $base-color;
      font-weight: 400;
      text-decoration: none;

      &:hover{
        color: $url-hover-color;
      }
    }
  }

  >section{

    //background-color: #c3e3b5;

    &:not(:first-child){
      padding-top: 30px;
    }

    >h3{
      font-size: 24px;
      line-height: 38px;
      font-weight: 400;

      >small{
        font-size: 20px;
        font-weight: 400;
      }
    }

    >ul{
      padding: 7px 24px 0;
      //list-style-type: circle;

      >li{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        >small {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
