@charset "UTF-8";

@import "avalon/base";

.friends-container{
  padding: 30px 0;

  >h1{
    padding-bottom: 7px;

    a {
      font-size: 28px;
      line-height: 35px;
      color: $base-color;
      font-weight: 400;
      text-decoration: none;

      &:hover{
        color: $url-hover-color;
      }
    }
  }

  a.section {
    display: block;
    box-sizing: border-box;
    width: 370px;
    height: 130px;
    margin: 30px 70px 0 0;
    padding: 5px 20px 0;
    //border: 1px red solid;
    float: left;

    box-shadow: 3px 3px 30px 5px #ddd;
    border-radius: 3px;

    text-align: center;
    color: $base-color;

    >h3{
      font-size: 24px;
      font-weight: 400;
      height: 48px;
      line-height: 48px;
    }

    >p{
      font-size: 16px;
      font-weight: 300;
    }

    &:hover{
      color: $url-hover-color;
      text-decoration: none;
    }
  }
}
