@charset "UTF-8";

@import "avalon/base";

$left_width: 800px;
$right_width: 1170px - $left_width;
$top_space: 30px;

.right_col{

  section{
    //width: 90%;
    //margin: 0 0 0 43px;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;

    >.title{
      position: relative;
      margin-bottom: 25px;

      h1{
        padding-bottom: 7px;

        a{
          font-size: 28px;
          line-height: 35px;
          color: $base-color;
          font-weight: 400;
          text-decoration: none;

          &:hover{
            color: $url-hover-color;
          }
        }
      }

      >.date{
        position: absolute;
        top: -1px;
        right: 11px;
        padding: 11px 8px;

        background-color: #333;
        color: #fff;
        font-size: 16px;

        >small{
          display: block;
          font-size: 14px;
        }
      }
    }

    >.information{
      padding-right: 37px;
      font-size: 16px;
      line-height: 28px;

      p{
        margin-top: 15px;
      }
    }
  }
}


// ### 分页 ###
$border-radius-base : 7px;
ul.pagination{
  display: inline-block;
  width: 100%;
  padding-left: 0;
  margin: $line-height-computed 0;
  //@include border-radius($border-radius-base);

  >li{
    display: inline;

    &.disabled{
      >span{
        cursor: default;
        color: #ccc;
      }
    }

    >span,
    >a{
      position: relative;
      float: left; // Collapse white-space
      padding: 10px 15px;
      line-height: $line-height-base;
      text-decoration: none;
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
      margin-left: -1px;
      //@include border-radius($border-radius-base);
    }

    >a:hover{
      color: #000;
    }

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-left: 0;
      float: right;
    }

    &:hover{
      color: #23527c;
    }
  }
}
// --- 分页 ---
