/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../resources/assets/sass/avalon/_header.scss */
header > .container {
  padding: 0 19px;
}
/* line 8, ../../resources/assets/sass/avalon/_header.scss */
header h1 {
  margin: 20px 0 10px;
  display: inline-block;
}

/* line 14, ../../resources/assets/sass/avalon/_header.scss */
nav {
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 32px;
  line-height: 32px;
}
/* line 21, ../../resources/assets/sass/avalon/_header.scss */
nav > .container {
  padding: 0 19px;
}
/* line 24, ../../resources/assets/sass/avalon/_header.scss */
nav > .container > ul {
  display: inline-block;
}
/* line 27, ../../resources/assets/sass/avalon/_header.scss */
nav > .container > ul > li {
  display: inline;
}
/* line 30, ../../resources/assets/sass/avalon/_header.scss */
nav > .container > ul > li:not(:first-child) {
  margin-left: 100px;
}
/* line 34, ../../resources/assets/sass/avalon/_header.scss */
nav > .container > ul > li > a {
  color: #fff;
}
/* line 39, ../../resources/assets/sass/avalon/_header.scss */
nav > .container > ul.nav-right {
  float: right;
}
/* line 42, ../../resources/assets/sass/avalon/_header.scss */
nav > .container > ul.nav-right > li {
  float: right;
}

/* line 1, ../../resources/assets/sass/avalon/_footer.scss */
footer {
  width: 100%;
  border-top: 7px solid #999;
  background-color: #333;
  color: #fff;
}
/* line 7, ../../resources/assets/sass/avalon/_footer.scss */
footer > .container {
  padding: 24px 0 48px;
}
/* line 10, ../../resources/assets/sass/avalon/_footer.scss */
footer > .container > ul {
  display: inline-block;
  font-size: 18px;
}
/* line 14, ../../resources/assets/sass/avalon/_footer.scss */
footer > .container > ul > li {
  display: inline;
  float: left;
}
/* line 18, ../../resources/assets/sass/avalon/_footer.scss */
footer > .container > ul > li:not(:first-child) {
  margin-left: 30px;
}
/* line 24, ../../resources/assets/sass/avalon/_footer.scss */
footer > .container > p {
  display: block;
  margin: 18px 0 0;
}
/* line 29, ../../resources/assets/sass/avalon/_footer.scss */
footer > .container a {
  color: #fff;
}

/* line 1, ../../resources/assets/sass/avalon/_scrollbar.scss */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #fff;
}

/* line 6, ../../resources/assets/sass/avalon/_scrollbar.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  background-color: #fff;
}

/* line 11, ../../resources/assets/sass/avalon/_scrollbar.scss */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* line 15, ../../resources/assets/sass/avalon/_scrollbar.scss */
::-webkit-scrollbar-corner {
  background-color: #fff;
}

/* line 18, ../../resources/assets/sass/avalon/_scrollbar.scss */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  background-color: #333;
}

/* line 15, ../../resources/assets/sass/avalon.scss */
html, body {
  height: 100%;
}

/* line 18, ../../resources/assets/sass/avalon.scss */
html {
  overflow-y: scroll;
}

/* line 21, ../../resources/assets/sass/avalon.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: transparent;
}

/* line 29, ../../resources/assets/sass/avalon.scss */
.container {
  width: 1170px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

/* line 39, ../../resources/assets/sass/avalon.scss */
h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
}

/* line 39, ../../resources/assets/sass/avalon.scss */
h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

/* line 39, ../../resources/assets/sass/avalon.scss */
h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
}

/* line 39, ../../resources/assets/sass/avalon.scss */
h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

/* line 39, ../../resources/assets/sass/avalon.scss */
h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}

/* line 39, ../../resources/assets/sass/avalon.scss */
h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
}

/* line 46, ../../resources/assets/sass/avalon.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 50, ../../resources/assets/sass/avalon.scss */
a:hover {
  color: #23527c;
}

/* line 55, ../../resources/assets/sass/avalon.scss */
small {
  font-size: 12px;
}

/* line 59, ../../resources/assets/sass/avalon.scss */
big {
  font-size: 18px;
}

/* line 64, ../../resources/assets/sass/avalon.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 69, ../../resources/assets/sass/avalon.scss */
.clearfix:after {
  clear: both;
}
