/* line 12, ../../resources/assets/sass/index.scss */
.left {
  width: 800px;
  height: 100%;
  float: left;
}
/* line 17, ../../resources/assets/sass/index.scss */
.left > section {
  width: 798px;
  margin: 30px 0 0;
  border: 1px #ccc solid;
  float: left;
}
/* line 24, ../../resources/assets/sass/index.scss */
.left > section:not(:first-child) {
  margin: 27px 0 0;
}
/* line 28, ../../resources/assets/sass/index.scss */
.left > section > .title {
  position: relative;
  width: 707px -18px;
  overflow: hidden;
  padding: 7px 18px 7px 93px;
}
/* line 36, ../../resources/assets/sass/index.scss */
.left > section > .title > .date {
  position: absolute;
  top: -1px;
  left: 18px;
  padding: 11px 8px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}
/* line 46, ../../resources/assets/sass/index.scss */
.left > section > .title > .date > small {
  display: block;
  font-size: 14px;
}
/* line 52, ../../resources/assets/sass/index.scss */
.left > section > .title > strong {
  font-size: 24px;
  font-weight: 500;
  color: #111;
}
/* line 58, ../../resources/assets/sass/index.scss */
.left > section > .title > p {
  font-size: 14px;
  color: #666;
}
/* line 64, ../../resources/assets/sass/index.scss */
.left > section > .cover {
  width: 764px;
  padding: 7px 18px;
  height: 270px;
}
/* line 69, ../../resources/assets/sass/index.scss */
.left > section > .cover > img {
  width: 100%;
  height: 100%;
}
/* line 75, ../../resources/assets/sass/index.scss */
.left > section > .information {
  width: 764px;
  padding: 7px 18px 7px;
  color: #666;
}
/* line 80, ../../resources/assets/sass/index.scss */
.left > section > .information > p {
  line-height: 24px;
  text-align: justify;
}
/* line 85, ../../resources/assets/sass/index.scss */
.left > section > .information > span {
  display: block;
  position: relative;
  margin: 24px 0 0;
}
/* line 90, ../../resources/assets/sass/index.scss */
.left > section > .information > span > a {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 102, ../../resources/assets/sass/index.scss */
.left ul.pagination {
  display: inline-block;
  width: 100%;
  padding-left: 0;
  margin: 20px 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 109, ../../resources/assets/sass/index.scss */
.left ul.pagination > li {
  display: inline;
}
/* line 112, ../../resources/assets/sass/index.scss */
.left ul.pagination > li > span,
.left ul.pagination > li > a {
  position: relative;
  float: left;
  padding: 10px 15px;
  line-height: 1.42857;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-left: -1px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 126, ../../resources/assets/sass/index.scss */
.left ul.pagination > li:first-child {
  margin-left: 0;
}
/* line 130, ../../resources/assets/sass/index.scss */
.left ul.pagination > li:last-child {
  margin-left: 0;
  float: right;
}
/* line 135, ../../resources/assets/sass/index.scss */
.left ul.pagination > li:hover {
  color: #23527c;
}

/* line 144, ../../resources/assets/sass/index.scss */
.right {
  width: 370px;
  box-sizing: border-box;
  padding-left: 17px;
  margin: 30px 0 0;
  float: left;
}
/* line 152, ../../resources/assets/sass/index.scss */
.right > section {
  border: 1px #ccc solid;
}
/* line 155, ../../resources/assets/sass/index.scss */
.right > section:not(:first-child) {
  margin: 27px 0 0;
}
/* line 159, ../../resources/assets/sass/index.scss */
.right > section > h3 {
  display: block;
  padding-left: 18px;
  margin: 14px 0 0;
  font-size: 20px;
  line-height: 20px;
  border-left: #333 solid 7px;
}
/* line 168, ../../resources/assets/sass/index.scss */
.right > section > ul {
  display: block;
  padding-left: 25px;
  margin: 17px 0 14px;
}
/* line 181, ../../resources/assets/sass/index.scss */
.right > .category > ul {
  list-style-type: none;
}
